       /* .logo {
            width: 13px;
            height: 25px;
            background-color: blue;
        } */

        .logo img {
            width: 135px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .right ul {
            display: flex;
            gap: 35px;
            align-items: center;
        }

        .right ul li {
            list-style: none;
            display: flex;
            align-items: center;
        }

        right ul li span {
            padding: 0;
        }

        .right ul li img {
            width: 20px;
        }

        .first {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin: 70px;
            font-family: sans-serif;

        }

        .first span {
            font-size: 40px;
        }

        section span img {
            width: 82px;
            margin: 0 23px;
        }

        .first p {
            font-size: 23px;
            width: 62vw;
            text-align: center;
        }


        .btn {
            background: rgb(0, 200, 255);
            padding: 14px 36px;
            color: white;
            border: none;
            border-radius: 6px;
            font-weight: 700;
            margin: 12px 0;
            cursor: pointer;
        }

        .btn a{
            text-decoration: none;
            color: white;
        }

        .green {
            background: rgb(31, 239, 31);
        }


        .flex {
            display: flex;
        }

        .small {
            font-size: 12px;
        }

        .second {
            max-width: 85vw;
            margin: auto;
        }

        .item {
            padding: 23px;
            background: rgb(248, 245, 245);
            border-radius: 13px;
            font-size: 30px;
            font-family: sans-serif;
            text-align: center;
        }

        .item-lang{
            font-weight: 700;
            text-align: center;
            padding-bottom: 35px;
        }

        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 12px;
        }
        .download :nth-child(2){
            font-size: 23px;
        }
        .download{
            display: flex;
            gap: 10px;
            align-items: center;
            font-family: sans-serif;

        }

        .download img{
            padding: 0px 12px;
        }
        @media screen and (max-width: 1145px) {
            .grid{
                grid-template-columns: 1fr;
            }
        }